section.contact
  div.container 

    div.row.center-xs.center-lg 
      div.col-xs-12.col-lg-4
        a.contact__link(href="./partials/profil.pug")
          div.contact__img 
          div.contact__text--name Name Surname
          div.contact__text--work co-founder and CTO 
  
      div.col-xs-12.col-lg-4 
        a.contact__link(href="./partials/profil.pug")
          div.contact__img--girl 
          div.contact__text--name Name Surname
          div.contact__text--work co-founder and CTO

      div.col-xs-12.col-lg-4
        a.contact__link(href="./partials/profil.pug") 
          div.contact__img 
          div.contact__text--name Name Surname
          div.contact__text--work co-founder and CTO

    div.row.center-xs.center-lg 
      div.col-xs-12.col-lg-4 
        a.contact__link(href="./partials/profil.pug")
          div.contact__img--girl
          div.contact__text--name Name Surname
          div.contact__text--work co-founder and CTO 

      div.col-xs-12.col-lg-4 
        a.contact__link(href="./partials/profil.pug")
          div.contact__img 
          div.contact__text--name Name Surname
          div.contact__text--work co-founder and CTO

      div.col-xs-12.col-lg-4 
        a.contact__link(href="./partials/profil.pug")
          div.contact__img--girl 
          div.contact__text--name Name Surname
          div.contact__text--work co-founder and CTO