section.profil
  div.profil__bgimg
    div.container 

      div.row.center-xs.center-lg 
        div.col-xs-12.col-lg-12
          div.profil__img
          div.profil__text--name Name Surname
          div.profil__text--work co-founder and CTO

      div.row.center-xs.center-lg
        div.col-xs-6.col-lg-3
          div.profil__square
            div.profil__round
              div.profil__icon--skype
            div.profil__app Skype
            div.profil__text Nickname

        div.col-xs-6.col-lg-3
          div.profil__square
            div.profil__round
              div.profil__icon--messenger
            div.profil__app Messenger
            div.profil__text Name Surname
      
        div.col-xs-6.col-lg-3
          div.profil__square
            div.profil__round
              div.profil__icon--telegram
            div.profil__app Telegram
            div.profil__text +123 658 952

        div.col-xs-6.col-lg-3
          div.profil__square
            div.profil__round
              div.profil__icon--gmail
            div.profil__app Gmail
            div.profil__text name.surname@gmail.com