extends partials/layout.pug

block content

  include ./partials/contact.pug
  //- include ./partials/profil.pug

  //- Problème pour link la page contatc à la page profil. Je la met donc en commentaire pour pas avoir les
  //- deux pages l'une au-dessus de l'autre